html{
    .chessBoard{
    .chessBoardEven{
        width: 150px;
        height:150px;
        border: 2px, solid, black;
        background: rgb(255, 179, 0);
        
    }
    .chessBoardOdd{
        width: 12.5%;
        height: 12.5%;
        border: 2px, solid, black;
        background: rgb(67,160,71);
    }
    }
}